<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SAlumno</servlet-name>
        <servlet-class>servlets.SAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIndex</servlet-name>
        <servlet-class>servlets.SIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SIndex</servlet-name>
        <url-pattern>/SIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAlumno</servlet-name>
        <url-pattern>/SAlumno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SMateria</servlet-name>
        <servlet-class>servlets.SMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IIndex</servlet-name>
        <servlet-class>servlets.IIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SMateria</servlet-name>
        <url-pattern>/SMateria</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SMaestro</servlet-name>
        <servlet-class>servlets.SMaestro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SMaestro</servlet-name>
        <url-pattern>/SMaestro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IIndex</servlet-name>
        <url-pattern>/IIndex</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
